.section {
    display: flex;
    gap: 0rem;
    padding: 1rem 1rem;
    background-color: #FFFFFF;
    align-items: stretch;
    flex-flow: row wrap;
}


.section > * {
    flex: 1 1 30%;
}

@media (max-width: 600px) {
    .section {
        gap: 0rem;
        flex-direction: column;
    }
    .section:nth-child(even) {
        flex-direction: column;
    }
}